.circles {
    /* display: flex;
    justify-content: space-between; */
    /* flex-wrap: wrap; */
    text-wrap: nowrap;
    /* position: absolute; */
    overflow: hidden;

}
.circle {
    display: inline-block;

    min-width: 30px;
    min-height: 30px;
    width: 3vw;
    height: 3vw;

    border-radius: 50%;
}