.circles {
    text-wrap: nowrap;
}
.circle {
    display: inline-block;

    min-width: 30px;
    min-height: 30px;
    width: 3vw;
    height: 3vw;

    border-radius: 50%;
}
.circle__1 {
    animation: circle 1s ease-in-out infinite;
}
.circle__2 {
    animation: circle 1.5s ease-in-out infinite;
}
.circle__3 {
    animation: circle 2s ease-in-out infinite;
}
.circle__4 {
    animation: circle 2.5s ease-in-out infinite;
}
.circle__5 {
    animation: circle 3s ease-in-out infinite;
}