.running-line {
    margin: 48px 0;

    display: flex;
    flex-direction: column;
    gap: 20px;

    z-index: 100;
}
.running-line__border {
    width: 200%; 
    animation: running-line-border-toright 5s linear infinite;
}
.running-line__text {
    text-wrap: nowrap;
    line-height: 5vw;

    animation: running-line-text-toleft 2.5s linear infinite;
    transition: 0.5 ease-in-out;
}