.texture-spheres {
    position: relative;

    min-height: 1000px;
    height: 60vw;
}
.texture-sphere {
    position: absolute;

    animation: sphere 3s ease-in-out infinite;
}   
.texture-sphere__1 {
    min-width: 172px;
    width: 10vw;

    left: 16%;
    top: 12%;
}
.texture-sphere__2 {
    min-width: 349px;
    width: 20vw;

    left: 40%;
    top: 22%;
}
.texture-sphere__3 {
    min-width: 224px;
    width: 15vw;

    left: 75%;
    top: 20%;
}
.texture-sphere__4 {
    min-width: 541px;
    width: 30vw;

    left: -10%;
    top: 42%;
}
.texture-sphere__5 {
    min-width: 192px;
    width: 12vw;

    left: 60%;
    top: 70%;
}